// import export
#rex-page-import-export {
	label[for="export_tables"] {
		.srOnly();
	}
	.rex-form-row {
		p {
			padding-left: 1em;
			&.rex-form-radio {
				padding-left: 0;
			}
		}
	}
	.rex-form-element-v2 {
		margin-bottom: 1em;
	}
	fieldset:nth-child(2) {
		margin-bottom: 1em;
		p.rex-form-radio {
			margin-bottom: 0;
			padding-left: 1em;
		}
	}
	fieldset:last-child {
		p {
			padding-left: 0;
		}
	}
}

// developer
#rex-page-developer {
	label {
		width: auto;
	}
}

// platzhalter ersetzen
#rex-page-opf-lang .rex-icon a {
	img {
		display: none;
	}
	&:before {
		.icomoon();
		content: "\e603";
	}
}

// xform
#rex-page-xform {
	th.rex-icon a {
		img {
			display: none;
		}
		&:before {
			.icomoon();
			content: "\e603";
		}
	}
	td.rex-icon a {
		img {
			display: none;
		}
		&:before {
			.icomoon();
			content: "\e760";
		}
	}
	.rex-navi-piped {
		float: right;
	}
	.rex-navi-piped > * {
		background-position: 1px center;
		background-repeat: no-repeat;
	}
	.rex-table td {
		background: none transparent !important;
	}
}
// xform modul
.rex-content-editmode-slice-input {
	#xform-classes-showhelp {
		ul.xform {
			font-size: 13px;
			.type li:nth-child(odd) {
				background: #fff;
			}
		}
		.toggler {
			font-size: 14px;
		}
	}
	#xform-modul {
		fieldset {
			width: auto !important;
			background: #ecedf0 !important;
			strong.label {
				width: auto !important;
			}
			label {
				width: 23% !important;
			}
			input[type="text"] {
				width: 75% !important;
			}
		}
	}
}

// image manager
#rex-page-image-manager {
	colgroup {
		display: none;
	}
	.rex-i-list:before {
		.icomoon();
		content: "\e695";
	}
}

// multiupload
#rex-page-rex-multiupload,
#rex-page-mediapool {
	.qq-upload-list {
		padding: 0 0 0 25%;
		margin: 1em 0 !important;
		li {
			margin: 0;
		}
	}
	.edit_panel {
		ul {
			width: 75%;
			padding: 0;
			float: right;
			margin: 0 !important;
			li {
				margin: 0;
				background: none transparent !important;
				color: #000 !important;
				&.open {
					background: @border-grey !important;
					border-top: 1px solid @almost-black;
					border-bottom: 1px solid @almost-black;
					.editFileName {
						background: none transparent;
						color: #000;
						font-weight: bold;
						border: 0;
					}
					#rex_file_new_category {
						width: 75%;
					}
				}
				.rex-form-wrapper {
					background: none transparent !important;
				}
				.multiupload_edit label {
					float: left !important;
				}
				.clear_link {
					color: @warning-font-color;
				}
			}
		}
	}
}

// rexmarkitup
.markItUpHeader {
	box-sizing: content-box;
	* {
		box-sizing: content-box;
	}
	.markItUpButton a {
		-moz-transition-property: none;
		-webkit-transition-property: none;
		-o-transition-property: none;
		-ms-transition-property: none;
		transition-property: none;
	}
	.markItUpButton:hover a {
		-moz-transition-property: none;
		-webkit-transition-property: none;
		-o-transition-property: none;
		-ms-transition-property: none;
		transition-property: none;
	}
}

// rexseo
#rex-page-rexseo {
	code {
		background: none;
		border: 0;
		padding: 0;
	}
}
